<div ng-app="app">
  <div ng-controller="cartedCtrl" ng-init="setup()">
    <div ng-controller="eventsCtrl" ng-init="setup()">

      <!-- <div class="clearfix"></div> -->

      <div class="video" id="home">
        <div class="fullscreen-bg">
          <video loop muted autoplay class="fullscreen-bg__video">
            <source src="http://media.ezlinksgolf.com/EZLinks-Images/Capstone/video1.mp4" type="video/mp4">
          </video>
        </div>
      </div>


<section id="search">
  <div class="space-70"></div>
  <div class="container">
    <!-- <div class="heading-style-center"> -->

    <div class="search_section">
      <!-- Search Form-->
      <h1><center>Date Night</center></h1>
      <h2><center>Pick a date to see what is available now!</center></h2>

      <input type="text" ng-model="search" class="form-control search-events" placeholder="Enter Date">
      <center><a class="smoothScroll" href="#category"><button type="button" class="btn btn-success" ng-click="storeDate(search)">Search</button></a></center>
    </div>
  </div>
  <!--end-seach form-->
</section>

<div class="container">
<section id="category">
  <br>
  <center>
    <h1>Select a Category</h1>
    <button type="button" class="btn btn-success"><a class="smoothScroll" href="#cartedtabs">Review Itinerary</a></button>
  </center>
  <br>



  <div class="select_a_category">
        <!-- ALL SECTION -->
        <div class="row">
          <div class="col-sm-4">
            <div class="image">
              <img src="http://media.ezlinksgolf.com/EZLinks-Images/Capstone/All.jpg" class="img-responsive" alt="" data-toggle="modal"  ng-click="showAll()" data-target="#all">
              <h6><span>All</span></h6>
            </div>
            <p >
              <!-- All Results -->
              <!-- Large modal -->

              <div class="modal fade" id="all">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="container">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3>All</h3>
                      </div>

                      <div>
                        <label for="search">Search:</label>
                        <input ng-model="search_all" id="search" class="form-control" placeholder="What are you looking for?">
                      </div>

                      <div class="table-responsive">
                        <table class="table table-striped table-bordered"  width="100%">
                          <thead>
                            <tr>
                              <th ng-click="sort('title')">Name</th>
                              <th ng-click="sort('type')">Category</th>
                              <th ng-click="sort('stats.lowest_price')">Price</th>
                              <th ng-click="sort('venue.name')">Venue Name</th>
                              <th ng-click="sort('datetime_local')">Date Time</th>
                              <th>Save</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr dir-paginate="event in events | filter:search_all | orderBy:sortKey:reverse | itemsPerPage: 10" ng-if="event.stats.lowest_price !== null">
                              <td>{{event.title}}</td>
                              <td>{{event.type}}</td>
                              <td>{{event.stats.lowest_price | currency:"$"}}</td>
                              <td>{{event.venue.name}}<br>{{event.venue.address}}</td>
                              <td>{{event.datetime_local | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                              <td onclick="this.style.backgroundColor = '#5EBA7D';">
                                <!-- <div ng-click="addCartedEvent(event)" class="livicon-evo" data-options=" name: check-alt.svg; style: original; size: 120px; strokeStyle: original; strokeWidth: original; tryToSharpen: true; rotate: none; flipHorizontal: false; flipVertical: false; strokeColor: #22A7F0; strokeColorAction: #b3421b; strokeColorAlt: #F9B32F; strokeColorAltAction: #ab69c6; fillColor: #91e9ff; fillColorAction: #ff926b; solidColor: #6C7A89; solidColorAction: #4C5A69; solidColorBgAction: #ffffff; solidColorBg: #ffffff; colorsOnHover: none; colorsHoverTime: 0.3; colorsWhenMorph: none; brightness: 0.1; saturation: 0.07; morphState: start; morphImage: none; allowMorphImageTransform: false; strokeWidthFactorOnHover: none; strokeWidthOnHoverTime: 0.3; keepStrokeWidthOnResize: false; animated: true; eventType: click; eventOn: self; autoPlay: false; delay: 0; duration: default; repeat: default; repeatDelay: default; drawOnViewport: false; viewportShift: oneHalf; drawDelay: 0; drawTime: 1; drawStagger: 0.1; drawStartPoint: middle; drawColor: same; drawColorTime: 1; drawReversed: false; drawEase: Power1.easeOut; eraseDelay: 0; eraseTime: 1; eraseStagger: 0.1; eraseStartPoint: middle; eraseReversed: true; eraseEase: Power1.easeOut; touchEvents: false "></div> -->

                                <span class="livicon" data-size="48" data-name="thumbs-up" data-duration="1000" ng-click="addCartedEvent(event)"></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <dir-pagination-controls
                        max-size="100"
                        direction-links="true"
                        boundry-links="true">
                      </dir-pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </p>
        </div>

        <!-- SPORTS -->
        <div class="col-sm-4">
          <div class="image">
            <img src="http://media.ezlinksgolf.com/EZLinks-Images/Capstone/sports.jpg" class="img-responsive" alt="" data-toggle="modal" data-target="#sports" ng-click="showSports()">
            <h6><span>Sports</span></h6>
          </div>
          <p>
            <!-- Sports Results -->
            <!-- Large modal -->
            <div class="modal fade" id="sports">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="container">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h3>Sports</h3>
                    </div>

                    <div>
                      <label for="search">Search:</label>
                      <input ng-model="search_sports" id="search" class="form-control" placeholder="What are you looking for?">
                    </div>

                    <div class="table-responsive">
                      <table class="table table-striped table-bordered"  width="100%">
                        <thead>
                          <tr>
                            <th ng-click="sort('title')">Name</th>
                            <th ng-click="sort('type')">Category</th>
                            <th ng-click="sort('stats.lowest_price')">Price</th>
                            <th ng-click="sort('venue.name')">Venue Name</th>
                            <th ng-click="sort('datetime_local')">Date Time</th>
                            <th>Save</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr dir-paginate="sport in sports | filter:search_sports | orderBy:sortKey:reverse | itemsPerPage: 10" ng-if="sport.stats.lowest_price !== null">
                            <td>{{sport.title}}</td>
                            <td>{{sport.type}}</td>
                            <td>{{sport.stats.lowest_price | currency:"$"}}</td>
                            <td>{{sport.venue.name}}<br>{{sport.venue.address}}</td>
                            <td>{{sport.datetime_local | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                            <td onclick="this.style.backgroundColor = '#5EBA7D';"><span class="livicon " data-size="48" data-name="thumbs-up" data-duration="1000" ng-click="addCartedEvent(sport)"></span></td>
                          </tr>
                        </tbody>
                      </table>
                      <dir-pagination-controls
                      max-size="100"
                      direction-links="true"
                      boundry-links="true">
                    </dir-pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p>
      </div>


      <!-- CONCERT -->
      <div class="col-sm-4">
        <div class="image">
          <img src="http://media.ezlinksgolf.com/EZLinks-Images/Capstone/Concert.jpg" class="img-responsive" alt="" ng-click="showConcerts()" data-toggle="modal" data-target="#concerts">
          <h6><span>Concert</span></h6>
        </div>
        <p>
          <!-- Concert Results -->
          <!-- Large modal -->
          <div class="modal fade" id="concerts">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="container">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Concerts</h3>
                  </div>

                  <div>
                    <label for="search">Search:</label>
                    <input ng-model="search_concert" id="search" class="form-control" placeholder="What are you looking for?">
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped table-bordered"  width="100%">
                      <thead>
                        <tr>
                          <th ng-click="sort('title')">Name</th>
                          <th ng-click="sort('type')">Category</th>
                          <th ng-click="sort('stats.lowest_price')">Price</th>
                          <th ng-click="sort('venue.name')">Venue Name</th>
                          <th ng-click="sort('datetime_local')">Date Time</th>
                          <th>Save</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr dir-paginate="concert in concerts | filter:search_concert | orderBy:sortKey:reverse | itemsPerPage: 10" ng-if="concert.stats.lowest_price !== null">
                          <td>{{concert.title}}</td>
                          <td>{{concert.type}}</td>
                          <td>{{concert.stats.lowest_price | currency:"$"}}</td>
                          <td>{{concert.venue.name}}<br>{{concert.venue.address}}</td>
                          <td>{{concert.datetime_local | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                          <td onclick="this.style.backgroundColor = '#5EBA7D';"><span class="livicon " data-size="48" data-name="thumbs-up" data-duration="1000" ng-click="addCartedEvent(concert)"></span></td>
                        </tr>
                      </tbody>

                    </table>
                    <dir-pagination-controls
                    max-size="100"
                    direction-links="true"
                    boundry-links="true">
                  </dir-pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p>
    </div>
    </div>


    <!-- THEATER SECTION -->
    <div class="row">
      <div class="col-sm-4">
        <div class="image">
          <img src="http://media.ezlinksgolf.com/EZLinks-Images/Capstone/Theater.jpg" class="img-responsive" alt="" ng-click="showTheaters()" data-toggle="modal" data-target="#theater">
          <h6><span>Theatre</span></h6>
        </div>
        <p>
          <!-- Theater Results -->
          <!-- Large modal -->
          <div class="modal fade" id="theater">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="container">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Theater</h3>
                  </div>

                  <div>
                    <label for="search">Search:</label>
                    <input ng-model="theater_search" id="search" class="form-control" placeholder="What are you looking for?">
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped table-bordered"  width="100%">
                      <thead>
                        <tr>
                          <th ng-click="sort('title')">Name</th>
                          <th ng-click="sort('type')">Category</th>
                          <th ng-click="sort('stats.lowest_price')">Price</th>
                          <th ng-click="sort('venue.name')">Venue Name</th>
                          <th ng-click="sort('datetime_local')">Date Time</th>
                          <th>Save</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr dir-paginate="theater in theaters | filter:theater_search | orderBy:sortKey:reverse | itemsPerPage: 10" ng-if="theater.stats.lowest_price !== null">
                          <td>{{theater.title}}</td>
                          <td>{{theater.type}}</td>
                          <td>{{theater.stats.lowest_price | currency:"$"}}</td>
                          <td>{{theater.venue.name}}<br>{{theater.venue.address}}</td>
                          <td>{{theater.datetime_local | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                          <td onclick="this.style.backgroundColor = '#5EBA7D';"><span class="livicon " data-size="48" data-name="thumbs-up" data-duration="1000" ng-click="addCartedEvent(theater)"></span></td>
                        </tr>
                      </tbody>

                    </table>
                    <dir-pagination-controls
                    max-size="100"
                    direction-links="true"
                    boundry-links="true">
                  </dir-pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p>
    </div>


    <!-- DINNER SECTION -->
    <div class="col-sm-4">
      <div class="image">
        <img src="http://media.ezlinksgolf.com/EZLinks-Images/Capstone/Restaurant.jpg" class="img-responsive" alt="" ng-click="showDinners()" data-toggle="modal" data-target="#dinner">
        <h6><span>Dinner</span></h6>
      </div>
      <p>
        <!-- Dinner Results -->
        <!-- Large modal -->
        <div class="modal fade" id="dinner">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="container">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3>Dinner</h3>
                </div>

                <div>
                  <label for="search">Search:</label>
                  <input ng-model="search_dinner" id="search" class="form-control" placeholder="What are you looking for?">
                </div>

                <div class="table-responsive">
                  <table class="table table-striped table-bordered"  width="100%">
                    <thead>
                      <tr>
                        <th ng-click="sort('name')">Name</th>
                        <th ng-click="sort('price')">Price</th>
                        <th ng-click="sort('city')">City</th>
                        <th ng-click="sort('state')">State</th>
                        <th ng-click="sort('postal_code')">Zip Code</th>
                        <th>Save</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr dir-paginate="dinner in dinners | filter:search_dinner | orderBy:sortKey:reverse | itemsPerPage: 10" ng-if="dinner.stats.lowest_price !== null">
                        <td>{{dinner.name}}<br>{{dinner.address}}</td>
                        <td>{{dinner.price}}</td>
                        <td>{{dinner.city}}</td>
                        <td>{{dinner.state}}</td>
                        <td>{{dinner.postal_code}}</td>
                        <td onclick="this.style.backgroundColor = '#5EBA7D';"><span class="livicon " data-size="48" data-name="thumbs-up" data-duration="1000" ng-click="addCartedDinner(dinner)"></span></td>
                      </tr>
                    </tbody>

                  </table>
                  <dir-pagination-controls
                  max-size="100"
                  direction-links="true"
                  boundry-links="true">
                </dir-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p>
    </div>


    <!-- FREE SECTION -->
    <div class="col-sm-4">
      <div class="image">
        <img src="http://media.ezlinksgolf.com/EZLinks-Images/Capstone/Free.jpg" class="img-responsive" alt="" data-toggle="modal" data-target="#free">
        <h6><span>Free</span></h6>
      </div>
      <p>
        <!-- Free Results -->
        <!-- Large modal -->
        <div class="modal fade" id="free">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Free</h3>
              </div>
              <div class="modal-body">
                <iframe src="https://calendar.google.com/calendar/embed?src=chicagosummercalendar%40gmail.com&ctz=America/Chicago" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
              </div>

            </div>
          </div>
        </div>

      </p>
    </div>
  </div>
</div>

</section>
</duv>
<!-- <div class="widget_wrap" style="width:800px;height:400px;display:inline-block;">
  <iframe src="https://www.zomato.com/widgets/res_search_widget.php?city_id=292&theme=red&hideCitySearch=on&widgetType=custom&sort=popularity" style="position:relative;width:100%;height:100%;" border="0" frameborder="0"></iframe>
</div> -->

<div class="space-70"></div>


<section id="cartedtabs">
  <div class="space-70"></div>
  <div class="skin-bg">
  <div class="container">
    <br>
    <center>
      <h1>Review Your Itinerary</h1>
    <center>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#eventstab" aria-controls="home" role="tab" data-toggle="tab">Events</a></li>
      <li role="presentation"><a href="#dinnertabs" aria-controls="profile" role="tab" data-toggle="tab">Dinner</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="eventstab">
        <div class="table-responsive">
          <table class="table table-striped table-bordered"  width="100%">
            <thead bgcolor="white">
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Venue Name</th>
                <th>Date Time</th>
                <th>Confirm</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody bgcolor="white">
              <tr ng-repeat="cartedEvent in cartedEvents track by $index">
                <td>{{cartedEvent.title}}</td>
                <td>{{cartedEvent.type}}</td>
                <td>{{cartedEvent.stats.lowest_price | currency:"$"}}</td>
                <td>{{cartedEvent.venue.name}}<br>{{cartedEvent.venue.address}}</td>
                <td>{{cartedEvent.datetime_local | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                <td><a href="{{cartedEvent.url}}" target="_blank"><span class="livicon " data-size="48" data-name="thumbs-up" data-duration="1000"></span></a></td>
                <td><span class="livicon " data-size="48" data-name="thumbs-down" data-duration="1000" ng-click="deleteCartedEvent($index)"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div role="tabpanel" class="tab-pane" id="dinnertabs">
        <div class="table-responsive">
          <table class="table table-striped table-bordered"  width="100%">
            <thead bgcolor="white">
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Confirm</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody bgcolor="white">
              <tr ng-repeat="cartedDinner in cartedDinners track by $index">
                <td>{{cartedDinner.name}}<br>{{cartedDinner.address}}</td>
                <td>{{cartedDinner.price}}</td>
                <td>{{cartedDinner.city}}</td>
                <td>{{cartedDinner.state}}</td>
                <td>{{cartedDinner.postal_code}}</td>
                <td><a href="{{cartedDinner.reserve_url}}" target="_blank"><span class="livicon " data-size="48" data-name="thumbs-up" data-duration="1000"></span></a></td>
                <td><span class="livicon " data-size="48" data-name="thumbs-down" data-duration="1000" ng-click="deleteCartedDinner($index)"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Tabs Test Ends -->

  </div>

  <!-- </div> -->
  <div class="space-70"></div>

</section>

</div><!-- end of ng-events-controller -->
</div> <!-- end of ng-cartedEvents-controller -->
</div> <!-- end of ng-app -->
