/*.front_main {

  padding: 20px

}

.inner_page {

  padding: 20px

}

.center {
    margin: auto;
    width: 50%;
}

.front_body{*/
/*  background: #8B5F49 url(http://media.ezlinksgolf.com/EZLinks-Images/Capstone/chicagoatnight.jpg) no-repeat top;
    background-size: cover;*/

  /*background: url(http://media.ezlinksgolf.com/EZLinks-Images/Capstone/chicagoatnight.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }*/

section {
  height: 100vh;
}

.search_section{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.modal-dialog {
  width: 90%;
}

.modal-small {
  width: 50%;
}

.modal-wide .modal-body {
  overflow-y: auto;
}

h1{
  font-family: Georgia;
  color: white;
  font-size:72px;
  text-shadow: 2px 2px #000000;
}

h2{
  font-family: Georgia;
  color: white;
  font-size:48px;
  text-shadow: 2px 2px #000000;
}

.fullscreen-bg {
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  overflow: hidden;
	  z-index: -100;
	}


	.fullscreen-bg__video {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}


	@media (min-aspect-ratio: 16/9) {
	  .fullscreen-bg__video {
	    height: 300%;
	    top: -100%;
	  }
	}


	@media (max-aspect-ratio: 16/9) {
	  .fullscreen-bg__video {
	    width: 300%;
	    left: -100%;
	  }
	}


	@media (max-width: 767px) {
	  .fullscreen-bg {
	    background: url('http://media.ezlinksgolf.com/EZLinks-Images/Capstone/chicagoatnight.jpg') center center / cover no-repeat;
	  }


	  .fullscreen-bg__video {
	    display: none;
	  }
	}


input{
   text-align:center;
}

.form1{
                width:25%;
                margin: 0 auto;
}
.search {
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
}

.table_review{
  background-color: #000
  border: 2px
}

a {
    color: #ffffff;
}

.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

h6 {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}

h6 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   background-size: 100%;
   padding: 10px;
   width: 100%
}

h6 span.spacer {
   padding:0 5px;
}

.select_a_category {
  padding: 10px;
}

.my-controller {
  border: 1px solid #fcc;
  padding: 5px;
  margin: 3px;
}
.my-controller small {
  color: #c99;
}
.other-controller {
  border: 1px solid #ccf;
  padding: 5px;
  margin: 3px;
}
.other-controller small {
  color: #99c;
}
.third-controller {
  border: 1px solid #cfc;
  padding: 5px;
  margin: 3px;
}
.third-controller small {
  color: #9c9;
}

.semiTrans{
  opacity:0.8;
}

img {
  border: 2px solid #ffffff;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.in {
background: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background: #ffffff;
}

/*.modal-header {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
}*/

.skin-bg {
  background: rgba(0, 0, 0, 0.8);
}
